{{- if site.Params.plausible }}
    <!-- Active plausible on/off -->
    {{- if site.Params.plausible.enable }}
        <!-- To avoid stats bloat when in dev/server mode -->
        {{- if not site.IsServer -}}
            {{- if site.Params.plausible.custom_domain }}
                <!-- Script via custom domain -->
                <script async defer data-domain="{{ site.Params.plausible.domain }}" src="https://{{ site.Params.plausible.custom_domain }}/js/index.js"></script>
            {{- else }}
                <!-- Script direct -->
                <script async defer data-domain="{{ site.Params.plausible.domain }}" src="https://{{ default "plausible.io" site.Params.plausible.plausible_domain }}/js/plausible.js"></script>
            {{- end }}
        {{- end }}

        <!-- For custom goals/events -->
        <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

        <!-- Create a unique script for all the onclick -->
        <script>
            {{ partial "plausible_js.html" . | safeJS }}
        </script>
    {{- end }}
{{- end }}
